<h1>Listing demoapps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Pass</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @demoapps.each do |demoapp| %>
  <tr>
    <td><%= demoapp.name %></td>
    <td><%= demoapp.pass %></td>
    <td><%= link_to 'Show', demoapp %></td>
    <td><%= link_to 'Edit', edit_demoapp_path(demoapp) %></td>
    <td><%= link_to 'Destroy', demoapp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Demoapp', new_demoapp_path %>
