<h1>Listing demo1s</h1>

<table>
  <tr>
    <th>New</th>
    <th>Demo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @demo1s.each do |demo1| %>
  <tr>
    <td><%= demo1.new %></td>
    <td><%= demo1.demo %></td>
    <td><%= link_to 'Show', demo1 %></td>
    <td><%= link_to 'Edit', edit_demo1_path(demo1) %></td>
    <td><%= link_to 'Destroy', demo1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Demo1', new_demo1_path %>
