<p id="notice"><%= notice %></p>

<p>
  <b>New:</b>
  <%= @demo1.new %>
</p>

<p>
  <b>Demo:</b>
  <%= @demo1.demo %>
</p>


<%= link_to 'Edit', edit_demo1_path(@demo1) %> |
<%= link_to 'Back', demo1s_path %>
